@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 67% 97%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 230 20% 91%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 230 20% 91%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 261 44% 69%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 232 28% 14%;
    --foreground: 0 0% 98%;
    --card: 232 28% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 232 28% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 68%;
    --primary-foreground: 231 48% 10%;
    --secondary: 232 28% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 232 28% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 261 44% 79%;
    --accent-foreground: 261 44% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 28% 24%;
    --input: 232 28% 24%;
    --ring: 231 48% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
